.img-skill{
  margin-top: 25px;
}
.img-about{
  margin: 28px 0 0 90px;
}
.header{
  background:#010101;
}
.header .navbar-collapse{
  padding:0;
}
.header .header-inner {
  background: #010101;
  -webkit-box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
  z-index: 9000;
}
.header .navbar-nav {
  float: right;
  margin: 0;
}
.header .logo{
  float:left;
  padding-top:17px;
}
.logo-size{ 
  width: 250px;
}
.header-position{
  margin-left: unset !important;
}
.header .navbar {
  background: none;
  box-shadow: none;
  border: none;
  margin: 0;
  min-height: 0px;
}
.header .nav li{
    float: left;
  position:relative;
}
.header .nav li:last-child{
  margin:0;
}
.header .nav li a {
  color: #d5d5d5;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 15px;
    position: relative;
    display: inline-block;
  box-shadow:none;
  text-shadow:none;
}
.header .nav li:hover a,
.header .nav li.current a{
  color:#fff;
}
.header .nav li:hover a{
  color:#fff;
}
.header .nav li .dropdown{
  background: #333;
    width: 220px;
    position: absolute;
    left: 40px;
    z-index: 99;
  opacity:0;
  visibility:hidden;
  -webkit-transition:all 0.4s ease;
  -moz-transition:all 0.4s ease;
  transition:all 0.4s ease;
}
.header .nav li:hover .dropdown{
  opacity:1;
  visibility:visible;
  left: 0px;
}
.header .nav li .dropdown li{
  float:none;
  margin:0;
}
.header .nav li .dropdown li a{
  padding: 10px 15px;
    color: #fff;
    display: block;
}
.header .nav li .dropdown li i{
  float:right;
}
.header .nav li .dropdown li:hover a{
  color:#42BC7F;
}
.header .nav li .dropdown li a:before{
  display:none;
}
.header .nav li .dropdown .sub-dropdown{
  position: absolute;
    top: 0;
    left: 110%;
    width: 220px;
    background: #333;
  opacity:0;
  visibility:hidden;
  transition:all 0.4s ease;
}
.header .nav li .dropdown li:hover .sub-dropdown{
  opacity:1;
  left:100%;
  visibility:visible;
}
.header .nav li .dropdown .sub-dropdown li:hover a {
  color:#42BC7F;
}
.header .nav li .dropdown .sub-dropdown li a{
  color:#fff;
}
/* Sticky */
.header .sticky {
  position: fixed;
  width: 100%;
  top: 0;
  animation: fadeInDown 0.8s both 0s;
}
.form-group {
  text-align: center;
}
